* {
  margin: 0;
  padding: 0;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  color: #88E07A;
  scroll-behavior: smooth;
  transition: all .5s cubic-bezier(0.77,0,0.18,1);
  -webkit-transition: all .5s cubic-bezier(0.77,0,0.18,1);
  transition-delay: 0s;
}

body {
  max-width: 100%;
  height: 100%;
  background-color: #181C17;
  margin: 3.33vw;
}

h1 {
  font-weight: 800;
  font-size: 16vw;
  line-height: 88%;
  hanging-punctuation: first last;
  text-transform: uppercase;
  opacity: 0.24;
  max-width: 70%;
}

p {
  font-weight: 300;
  font-stretch: 90;
  font-size: 4vw;
  line-height: 112%;
  font-variation-settings: 'opsz' 96;
  max-width: 30ch;
}

a {
  font-stretch: 90%;
  font-variation-settings: 'opsz' 96;
  display: flex;
  align-items: center;
  text-decoration: none;
}

h4 {
  font-stretch: 90%;
  line-height: 112%;
  font-size: 2.4vw;
  font-weight: 300;
  letter-spacing: -1px;
  opacity: 0.4;
  white-space: none;
  padding-top: 3vw;
}

.nav, .footer {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

.nav a, .footer a {
  font-weight: 300;
  gap: 8px;
  font-size: 4vw;
  line-height: 112%;
}

.footer {
  margin-bottom: 6.6vw;
}

.footer a {
  border-bottom: 1.5px solid #88E07A;
}

.links a {
  font-weight: 500;
  font-size: 6vw;
  line-height: 90%;
}

.intro {
  position: relative;
  display: flex;
  margin: 6.66vw 0;
}

.memoji {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 2vw;
  max-width: 80vw;
  margin: 13.3vw 0;
}

.links a {
  display: flex;
  align-items: start;
}

.links a span {
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 300;
}

.project a:hover {
  color: #fff;
  z-index: 100;
  position: relative;
}

.project a:hover span {
  color: #fff;
}

.project a:hover + .project-cover {
  opacity: 1;
  z-index: 99;
}

.project-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.project img {
  height: calc(100% - 13.2vw);
  width: calc(100% - 13.2vw);
  padding: 6.6vw;
  object-fit: contain;
}

.project-cover:hover img {
  opacity: 1;
}

.somers .project-cover {
  background-color: hsl(335deg 100% 69% / 80%);
}

.season .project-cover {
  background-color: hsl(33deg 30% 69% / 80%);
}

.fertifa .project-cover {
  background-color: hsl(266deg 86% 49% / 80%);
}